body {
    margin: 0;
    font-family: system-ui,Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    gap: 12px;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #cc6666;
}
nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #555;
    padding: 6px 0;
    border-radius: 8px;
}
nav a.active{
    color: black;
    border-bottom: 2px solid #000;
}

nav a:hover{
    background: #aeacac;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
    flex: 1;
}

.warning {
    color: red;
}

.gallery {
  align-items: right;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 12px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

footer {
    padding: 10px;
    background: #aeacac;
    text-align: center;
}

.no-decoration{
    text-decoration: none;
    color: #000;
}