{% extends "base.html"%}
{% block content%}
    <h1>Why this game is so popular</h1>
    <li>Massive modding community</li>
    <li>Appeals to both casual players and hardcore sim fans</li>
    <li>Only game of this kind</li>


    <h1>Here you can see in which years did games release</h1>

    <li>Farming Simulator 2008 — 2008</li>

    <li>Farming Simulator 2009 — 2009</li>

    <li>Farming Simulator 2011 — 2010</li>

    <li>Farming Simulator 2013 — 2012</li>

    <li>Farming Simulator 15 — 2014</li>

    <li>Farming Simulator 17 — 2016</li>

    <li>Farming Simulator 19 — 2018</li>

    <li>Farming Simulator 22 — 2021</li>

{% endblock%}