{% extends "base.html"%}
{% block content%}

    <p><h1>Here you can see photos form our gameplay </h1></p>
    <h1><p class="warning">Grafical mods are used</h1></p>
    <div class="gallery">
        <img src="../static/img/fsScreen_2024_10_29_20_56_46.png">
        <img src="../static/img/fsScreen_2025_01_23_22_18_02.png">
        <img src="../static/img/FarmingSimulator2025Game_2025-02-04_21-13-50.png">
        <img src="../static/img/FarmingSimulator2025Game_2024-12-08_20-47-12.png">
        <img src="../static/img/FarmingSimulator2025Game_2024-12-13_21-27-53.png">
        <img src="../static/img/FarmingSimulator2025Game_2024-12-20_22-34-26.png">
        <img src="../static/img/FarmingSimulator2025Game_2024-12-20_23-05-33.png">
        <img src="../static/img/farming.png">
        <img src="../static/img/Farming2.png">
        <img src="../static/img/FarmingSimulator2025Game_2025-10-12_11-34-45_085.png">
        <img src="../static/img/2300320_20250309002941_1.png.png">
    </div>
{% endblock%}