{% extends "base.html"%}
{% block content%}

    <h1>Here you are, some gametips</h1>
        <li>Don't rush to take loan</li>
        <li>Don't rush to start growing animals like cows or pigs</li>
        <li>Watch others playtrue</li>
        <li>Don't use cheats, becouse it will kill the fun</li>
        <li>If you need money, do contracts</li>
        <li>Force friends to buy this game and inslave them for easy in-game money</li>
        <li>more money = less fun</li>
        <li>don't play alone</li>
        <li></li>
{% endblock%}